@page "/Type/{id:long}"
@using Eveindustry.Shared.DTO.EveType
@using EveIndustry.Web.Services
@using Eveindustry.Shared
@using System.Collections.ObjectModel

@inject IEveItemSearchService EveItemSearchService
@inject IManufacturingInfoBuilder ManufacturingInfoBuilder;

<h1>Manufacturing plan for @ItemToBuild?.Name . Quantity:         <input @onkeyup="async (t) => await OnSearchChanged(t)" Class="e-autocomplete" @bind-value="Quantity" @bind-value:event="oninput"/> </h1>
<button class="btn btn-primary" @onclick="ReloadWithSelectedItems">Reload</button>
@for (int i = 0; i < Items.Count(); i++)
{
    int index = i;
    <h2>Stage @i</h2> 
    <BlazorTable.Table PageSize="9999" TableItem="EveManufacturialQuantity" Items="Items[index]" SelectionType="BlazorTable.SelectionType.Multiple" SelectedItems="SelectedItems[index]" @ref="Table">
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Title="Id" Field="@(x => x.Material.Id)" Width="4%"/>
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Sortable="true" Title="Name" Field="@(x => x.Material.Name)" Width="30%"/>
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Sortable="true" Title="Quantity" Field="@(x => x.Quantity)" Width="12%"/>
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Sortable="true" Title="JBV" Field="@(x => x.TotalJitaBuyPrice)" Width="14%"/>
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Sortable="true" Title="JSV" Field="@(x => x.TotalJitaSellPrice)" Width="14%"/>
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Sortable="true" Title="Materials JSV" Field="@(x => x.MaterialsJitaBuyPrice)" Width="14%"/>
        <BlazorTable.Column TableItem="EveManufacturialQuantity" Sortable="true" Title="Materials JSV" Field="@(x => x.MaterialsJitaSellPrice)" Width="14%"/>
    </BlazorTable.Table>
}


@code {

    [Parameter]
    public long Id { get; set; }

    public long Quantity { get; set; } = 1;
    
    public BlazorTable.Table<EveManufacturialQuantity> Table { get; set; }
    
    public IList<List<EveManufacturialQuantity>> SelectedItems { get; set; } = new List<List<EveManufacturialQuantity>>();

    public IList<IEnumerable<EveManufacturialQuantity>> Items { get; set; } = new List<IEnumerable<EveManufacturialQuantity>>();
    
    public EveTypeDto ItemToBuild { get; set; }

    private SortedList<long, EveTypeDto> rawItems;

    protected override async Task OnParametersSetAsync()
    {
        var items = await EveItemSearchService.GetAllDependent(this.Id);

        this.ItemToBuild = items.First(i => i.Id == Id);
        rawItems = new SortedList<long, EveTypeDto>(items.ToDictionary(i => i.Id, i => i));
        var info = ManufacturingInfoBuilder.BuildInfo(this.Id, rawItems);
        this.Items = ManufacturingInfoBuilder.GroupIntoStages(ManufacturingInfoBuilder.GetFlatManufacturingList(info, this.Quantity), Array.Empty<long>()).ToList();
        foreach (var item in this.Items)
        {
            SelectedItems.Add(new List<EveManufacturialQuantity>());
        }
        base.OnParametersSet();
    }

    private void ReloadWithSelectedItems()
    {
        var ignoreFlat = this.SelectedItems.SelectMany(i => i).Select(i => i.Material.Id).ToList();
        
        var info = ManufacturingInfoBuilder.BuildInfo(this.Id, rawItems);
        this.Items.Clear();
        this.Items = ManufacturingInfoBuilder.GroupIntoStages(ManufacturingInfoBuilder.GetFlatManufacturingList(info, this.Quantity, ignoreFlat), ignoreFlat).ToList();
        for (int i = 0; i < this.Items.Count; i++)
        {
            this.SelectedItems[i] = new List<EveManufacturialQuantity>();
            foreach (var stageItem in this.Items[i])
            {
                if (ignoreFlat.Contains(stageItem.Material.Id))
                {
                    this.SelectedItems[i].Add(stageItem);
                }
            }
        }
    }

    private void OnSelectedChanged(IEnumerable<EveManufacturialQuantity> selected, int index)
    {
        SelectedItems[index] = selected.ToList();
        ReloadWithSelectedItems();
    }

    private void OnQuantityChanged(object arg)
    {
        ReloadWithSelectedItems();
    }

    private async Task OnSearchChanged(KeyboardEventArgs keyboardEventArgs)
    {
        ReloadWithSelectedItems();
    }

}